body {
  background-color: ivory;  
  color: #000;               
  min-height: 100vh;         
  margin: 0; 
font-family: 'Montserrat', sans-serif;
background-color: ivory; 
color: #333;
display: flex;
flex-direction: column;                
}

  h1, h2, h3, h4 {
 font-family: 'Alegreya SC';
 font-size: 50px;         
    color: #111;              
  }


  .navbar-brand {
    font-family: 'Alegreya SC', cursive;
    font-weight: 700;
    font-size: 1.6rem;
  }

  footer {
	margin-top: 70px;
	background-color: rgb(1, 54, 1);
	color: white;
    padding: 20px;
    width: 100%;
    position: relative;
    padding: 20px;
}

footer p {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
    color: white
}


html, body {
  height: 100%;
  margin: 0;
}

main, #container, .content-wrapper {
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 200px; 
  object-fit: cover;
}
